:root {
  /* Colors */
  --color-white: #ffffff;
  --color-anthrazit: #1a1a1a;
  --color-medium-brown: #3a3734; /*nicht im Styleguide, aus Figma entnommen*/
  --color-light-grey: #e9e9e9;
  --color-medium-grey: #737373;
  --color-light-brown: #d7be9d; /*Kraftpapier*/
  --color-orange: #d77c12;
  --color-petrol: #006d7e;
  --color-rosa: #edd1c9;

  /* Font Size */
  --h1-font-size: 96px;
  --h2-font-size: 48px;
  --h3-font-size: 42px;
  --body-font-size: 18px;
  --h1-m-font-size: 64px;
  --subhead-m-font-size: 18px;
  --h2-m-font-size: 36px;
  --h3-m-font-size: 32px;
  --body-m-font-size: 14px;

  /*Icons*/
  --icon-color-light: invert(94%) sepia(0%) saturate(26%) hue-rotate(104deg)
    brightness(105%) contrast(108%);
  --icon-color-dark: var(--color-medium-brown);
  --logo-size: 35px;
  --hamburger-width: 25px;
  --hamburger-height: 12px;
  --icon-size: 45px;
}
