:root {
  /* Colors */
  --color-white: #FFFFFF;
  --color-anthrazit:#1A1A1A;
  --color-medium-brown: #3A3734; /*nicht im Styleguide, aus Figma entnommen*/
  --color-light-grey:#E9E9E9;
  --color-medium-grey: #737373;
  --color-light-brown: #D7BE9D; /*Kraftpapier*/
  --color-orange:#D77C12;
  --color-petrol:#006D7E;
  --color-rosa:#EDD1C9;

  /* Font Size */
  --h1-font-size: 96px;
  --h2-font-size: 48px;
  --h3-font-size: 42px;
  --body-font-size: 18px;
  --h1-m-font-size: 64px;
  --h2-m-mobile-font-size: 36px; 
  --h3-m-font-size: 32px;
  --body-m-font-size: 14px;
}