<footer>
    <div class="icon-container">
        <img class="logo" src="images/icons/Logo.svg" />
    </div>
    <h5>Rustica</h5>
    <p>Café & Rösterei</p>
    <nav>
        <ul>
            <li>Impressum</li>
            <li>Datenschutz</li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>Café</li>
            <li>Shop</li>
            <li>Herkunft</li>
        </ul>
    </nav>
</footer>