<header>
    <img src="src/images/coffee.jpg">
    <div>
        <img src="Logo.svg">
        <img src="icons/Burger Menu.svg">
    </div>
    <div>
        <p>Rustica</p>
        <p>Bio und Fair seit 1991</p>
    </div>
    <button>zum Shop</button>
</header>