<header>
    <nav>
    <div>
        <img src="images/icons/Logo.svg">
        <img src="images/icons/Burger Menu.svg">
    </div>
       <a href="#home" class="active"></a>
    <ul class="hidden">
        <li>
            <a href="#cafe">das Café</a>
        </li>
        <li>
            <a href="#herkunft">Herkunft</a>
        </li>
        <li>
            <a href="#shop">Shop</a>
        </li>
    </ul>
    </nav>
</header>