<nav>
    <ul>
        <li>
            <a href="cafe"></a>
        </li>
        <li>
            <a href="herkunft"></a>
        </li>
        <li>
            <a href="shop"></a>
        </li>
    </ul>
</nav>