 <nav class="icon-container">
        <a href="/home"> <img class="logo" src="/images/icons/Logo.svg" /></a>
        <a href="javascript:void(0);" onclick="openMenu()"
          ><img class="hamburger" src="/images/icons/Burger Menu.svg"
        /></a>
        <ul id="subpagelinks">
          <li>
            <a href="/cafe/index.html">das Café</a>
          </li>
          <li>
            <a href="/herkunft/index.html">Herkunft</a>
          </li>
          <li>
            <a href="/">Shop</a>
          </li>
        </ul>
      </nav>