.dark-icon {
    color: var(--icon-color-dark);

    &-medium {
    @extend .dark-icon;
        height: var(--icon-size-medium);
  }
}


.light-icon {
filter: var(--icon-color-light);
  
&-medium {
    @extend .light-icon;
        height: var(--icon-size-medium);
}

&-small {
    @extend .light-icon;
    height: var(--icon-size-small);
   } 
}


