.dark-icon {
   // schwarz ist default, daher hier keine Farbe

    &-medium {
    @extend .dark-icon;
        height: var(--icon-size-medium);
  }
}


.light-icon {
filter: var(--icon-color-light);
  
&-medium {
    @extend .light-icon;
        height: var(--icon-size-medium);
}

&-small {
    @extend .light-icon;
    height: var(--icon-size-small);
   } 
}


