img {
    max-width: 240px;
    height: auto;

    @include media-lg {
        max-width: 600px;
    }
  }

.img-right {
    float: right;
    margin: 40px 24px 40px 0px;
    flex-direction: column;
    justify-content: center;
    // position: relative;
}

.img-left {
    float: left;
    margin: 40px 0px 40px 24px;
}

