img {
    max-width: 240px;
    height: auto;
  }

.img-right {
    float: right;
    margin: 40px 24px 40px 0px;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.img-left {
    float: left;
    margin: 40px 0px 40px 24px;
}

.dark-icon {
    color: var(--icon-color-dark);
    height: var(--icon-size);
  }
