footer {
  height: 370px;
  background-color: black;
  color: white;
  width: 100%;

  .titel-container {
    margin: 0px 24px 0px 24px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;

    .light-icon-medium {
      margin: 60px 0px 0px 0px;
      height: var(--icon-size-sm);
      width: min-content;
    }

    .h4m {
      clear: both;
      margin-bottom: 0px;
      margin-top: 15px;
    }

    .subhead {
      margin-top: 2px;
    }
  }

  .container-quer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .text {
      margin: 20px 24px 0px 24px;
    }
  }

  nav {
    display: flex;
    margin: 0px;

    .nav-li {
      margin: 20px 24px 0px 24px;
    }

    .nav-re {
      margin: 20px 24px 0px 82px;
    }

    ul {
      list-style-type: none;
      margin: 0px 0px 50px 0px;
      padding: 0px;
    }
  }
}
